html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
.profile{
    background-color: aqua;
}
.contact{
    background-color: aquamarine;
}
.obj{
    background-color: chartreuse;
}
.edu{
    background-color: white;
}
.work{
    background-color:cyan;
}
.tech,.skill{
    background-color: greenyellow;
}
.soft{
    background-color: lightgreen;
}
.part{
    background-color:darkseagreen;
}
.pro{
    background-color:beige;
}